.circle, .circle-2, .circle-3{
    width: 200px;
    height: 200px;
    border-radius: 120px;
    padding: 15px;
    margin: 100px;
    position: relative;
    display: inline-block;
}

@keyframes move-circle{
    0%{
        top: 0px;
    }
    25%{
        top: 200px;
    }
    75%{
        top: 600px;
    }
    100%{
        top: 0px;
    }
}

@keyframes color-block {
    25% {
        background-color: #bd4141;
    }
    100% {
        background-color: #1a1919;
    }
}

.circle{
    animation: move-circle 2s normal infinite,
    color-block 2s normal infinite;
}

.circle-2{
    animation: move-circle 2s reverse infinite,
    color-block 2s reverse infinite;
}

.circle-3{
    animation: move-circle 2s alternate infinite,
    color-block 2s alternate infinite;
}

