@font-face {
    font-family: "Poppins";
    src: 
        local('Poppins Light Italic'), local('Poppins-LightItalic'),
        url('../fonts/Poppins-LightItalic.woff2') format('woff2'),
        url('../fonts/Poppins-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

