@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

address {
  font-style: normal;
}

@font-face {
  font-family: "Russo One";
  src: url("../fonts/RussoOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
:root {
  --font-family: "Russo One", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --transition: all .4s;
  --main-bg-color: #2d2d2d;
  --second-bg-color: #2d3238;
  --accent-color: #2194ff;
  --effect-color: #ff8c21;
  --text-color:#f1f1f1;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

@media (max-width: 767px) {
  h1 {
    font-size: calc(40px + 24 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  h1 {
    font-size: calc(40px + 24 * 100vw / 1968);
  }
}

h2 {
  font-weight: 400;
  color: var(--text-color);
  line-height: 120%;
}
@media (max-width: 767px) {
  h2 {
    font-size: calc(28px + 8 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  h2 {
    font-size: calc(28px + 8 * 100vw / 1968);
  }
}

.body {
  font-family: "Russo One", "Open Sans", "Arial", sans-serif;
  background: var(--main-bg-color);
  font-weight: 300;
  line-height: 22px;
  color: var(--text-color);
}
@media (max-width: 767px) {
  .body {
    font-size: calc(14px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .body {
    font-size: calc(14px + 2 * 100vw / 1968);
  }
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.big-button {
  border-radius: 11px;
  background: var(--accent-color);
  background-image: url("../img/icon/bg-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97%;
  padding: 6px 9px 16px;
  max-width: 395px;
  width: 100%;
  min-height: 87px;
  font-weight: 400;
  line-height: 27px;
  text-align: center;
  color: var(--text-color);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media (max-width: 767px) {
  .big-button {
    font-size: calc(19px + 3 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .big-button {
    font-size: calc(19px + 3 * 100vw / 1968);
  }
}
@media (any-hover: hover) {
  .big-button:hover {
    border: var(--effect-color) solid 4px;
    color: rgba(247, 166, 14, 0.9921568627);
  }
}

.small-button {
  background-color: var(--accent-color);
  border-radius: 50px;
  max-width: 343px;
  padding: 8px 35px 10px 33px;
  font-family: var(--second-family);
  font-weight: 700;
  line-height: 139%;
  text-align: center;
  color: var(--text-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (max-width: 767px) {
  .small-button {
    font-size: calc(14px + 4 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .small-button {
    font-size: calc(14px + 4 * 100vw / 1968);
  }
}
@media (any-hover: hover) {
  .small-button:hover {
    background-color: var(--effect-color);
  }
}

.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4431372549);
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.body--open-modal {
  overflow: hidden;
}

.body--open-modal .modal {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  position: relative;
  background: #fff;
  border-radius: 33px;
  padding: 30px 30px 39px 30px;
  max-width: 462px;
  width: 100%;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
}

.modal__cancel {
  position: absolute;
  top: 20px;
  right: 25px;
}

.modal__cancel path,
.modal__cancel rect {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
  stroke: var(--effect-color);
}

.modal__title {
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--accent-color);
  max-width: 203px;
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .modal__title {
    font-size: calc(18px + 6 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .modal__title {
    font-size: calc(18px + 6 * 100vw / 1968);
  }
}

.modal__form {
  margin-bottom: 42px;
}

.modal__form-label-name {
  margin-bottom: 24px;
}

.field {
  display: block;
  position: relative;
}

.field span {
  position: absolute;
  top: 7px;
  left: 28px;
  color: var(--effect-color);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (max-width: 767px) {
  .field span {
    font-size: calc(9px + 3 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .field span {
    font-size: calc(9px + 3 * 100vw / 1968);
  }
}

.field__input {
  display: block;
  max-width: 402px;
  height: 51px;
  width: 100%;
  background: transparent;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding-left: 22px;
  font-family: var(--second-family);
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
  -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  font-style: normal;
  color: var(--main-bg-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (max-width: 767px) {
  .field__input {
    font-size: calc(10px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .field__input {
    font-size: calc(10px + 2 * 100vw / 1968);
  }
}

.field__input:hover {
  border-color: var(--accent-color);
  -webkit-box-shadow: inset 0 0 4px 0 rgba(7, 106, 235, 0.788);
          box-shadow: inset 0 0 4px 0 rgba(7, 106, 235, 0.788);
}

.field__input::-webkit-input-placeholder {
  color: #dedede;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.field__input::-moz-placeholder {
  color: #dedede;
  -moz-transition: var(--transition);
  transition: var(--transition);
}

.field__input:-ms-input-placeholder {
  color: #dedede;
  -ms-transition: var(--transition);
  transition: var(--transition);
}

.field__input::-ms-input-placeholder {
  color: #dedede;
  -ms-transition: var(--transition);
  transition: var(--transition);
}

.field__input::placeholder {
  color: #dedede;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.field__input:hover::-webkit-input-placeholder {
  color: var(--accent-color);
}

.field__input:hover::-moz-placeholder {
  color: var(--accent-color);
}

.field__input:hover:-ms-input-placeholder {
  color: var(--accent-color);
}

.field__input:hover::-ms-input-placeholder {
  color: var(--accent-color);
}

.field__input:hover::placeholder {
  color: var(--accent-color);
}

.field__input:focus {
  padding: 26px 42px 12px 28px;
}

.field__input:focus + span {
  opacity: 1;
  visibility: visible;
}

.modal-desc {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #fff;
  opacity: 0.6;
  line-height: 19px;
  max-width: 454px;
  width: 100%;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .modal-desc {
    font-size: calc(12px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .modal-desc {
    font-size: calc(12px + 2 * 100vw / 1968);
  }
}

.header__top {
  margin-top: 18px;
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  max-width: 269px;
  max-height: 98px;
}
.header__logo img {
  display: block;
  max-width: 100%;
}

.header__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}
.header__desc-line {
  border: 1px solid #fff;
  width: 33px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.header__desc-text {
  font-family: var(--second-family);
  font-style: italic;
  font-weight: 400;
  line-height: 1.125;
  color: #2194ff;
  max-width: 129px;
}
@media (max-width: 767px) {
  .header__desc-text {
    font-size: calc(13px + 3 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .header__desc-text {
    font-size: calc(13px + 3 * 100vw / 1968);
  }
}

.header__tel {
  display: block;
  font-weight: 400;
  max-width: 214px;
  margin-top: 5px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (max-width: 767px) {
  .header__tel {
    font-size: calc(14px + 10 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .header__tel {
    font-size: calc(14px + 10 * 100vw / 1968);
  }
}
.header__tel-desc {
  font-family: var(--second-family);
  font-weight: 700;
  line-height: 195%;
  text-decoration: underline;
  color: #2194ff;
}
@media (max-width: 767px) {
  .header__tel-desc {
    font-size: calc(11px + 5 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .header__tel-desc {
    font-size: calc(11px + 5 * 100vw / 1968);
  }
}
@media (any-hover: hover) {
  .header__tel:hover {
    color: var(--effect-color);
  }
}

.hero__inner {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin-bottom: 72px;
}

.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 34px;
  padding-top: 33px;
  padding-bottom: 12px;
}

.hero__icon-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 7px;
}

.hero__icon-desc {
  font-family: var(--second-family);
  color: var(--text-color);
  line-height: 138%;
  max-width: 293px;
}
@media (max-width: 767px) {
  .hero__icon-desc {
    font-size: calc(13px + 3 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .hero__icon-desc {
    font-size: calc(13px + 3 * 100vw / 1968);
  }
}

.hero__title {
  font-weight: 400;
  line-height: 0.98;
  color: var(--accent-color);
  max-width: 447px;
  padding-bottom: 14px;
}

.hero__text {
  font-weight: 400;
  line-height: 122%;
  color: var(--text-color);
  max-width: 295px;
  width: 100%;
  padding-bottom: 40px;
  position: relative;
}
@media (max-width: 767px) {
  .hero__text {
    font-size: calc(16px + 8 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .hero__text {
    font-size: calc(16px + 8 * 100vw / 1968);
  }
}

.hero__text::before {
  content: url("../img/icon/pathway.svg");
  position: absolute;
  top: -4%;
  left: 99%;
}

.hero__desc {
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 138%;
  color: var(--text-color);
  padding-top: 13px;
}
@media (max-width: 767px) {
  .hero__desc {
    font-size: calc(13px + 3 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .hero__desc {
    font-size: calc(13px + 3 * 100vw / 1968);
  }
}

.hero__img img {
  max-width: 100%;
  height: auto;
}

@media (min-width: 769px) {
  .hero__section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero__left {
    width: 45%;
    padding-right: 20px;
  }
  .hero__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 55%;
            flex: 0 0 55%;
    padding: 0 0 25% 0;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
    position: relative;
  }
  .hero__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-fit: contain;
       object-fit: contain;
  }
}
body {
  background: var(--main-bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.thank-you__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-top: 24px;
  margin-bottom: 160px;
}

.thank-you__logo img {
  max-width: 100%;
  height: auto;
}

.thank-you__tel-link {
  font-weight: 400;
  line-height: 29px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (max-width: 767px) {
  .thank-you__tel-link {
    font-size: calc(19px + 5 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .thank-you__tel-link {
    font-size: calc(19px + 5 * 100vw / 1968);
  }
}
@media (any-hover: hover) {
  .thank-you__tel-link:hover {
    color: var(--effect-color);
  }
}

.thank-you__tel-desc {
  font-family: var(--second-family);
  font-weight: 700;
  line-height: 22px;
  text-decoration: underline;
  color: var(--accent-color);
}
@media (max-width: 767px) {
  .thank-you__tel-desc {
    font-size: calc(14px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .thank-you__tel-desc {
    font-size: calc(14px + 2 * 100vw / 1968);
  }
}

.thank-you__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.thank-you__title {
  font-weight: 400;
  line-height: 122%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 26px;
}
@media (max-width: 767px) {
  .thank-you__title {
    font-size: calc(40px + 8 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .thank-you__title {
    font-size: calc(40px + 8 * 100vw / 1968);
  }
}

.thank-you__desc {
  font-weight: 400;
  line-height: 122%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 417px;
  margin-bottom: 51px;
}
@media (max-width: 767px) {
  .thank-you__desc {
    font-size: calc(18px + 6 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .thank-you__desc {
    font-size: calc(18px + 6 * 100vw / 1968);
  }
}

@media (max-width: 767px) {
  .thank-you__big-button {
    font-size: calc(20px + 4 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .thank-you__big-button {
    font-size: calc(20px + 4 * 100vw / 1968);
  }
}

.main__price {
  background-color: var(--second-bg-color);
  padding-bottom: 20px;
  position: relative;
}

.price__title {
  text-align: center;
  color: var(--accent-color);
  padding-top: 46px;
  padding-bottom: 49px;
}

.price__inner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.price__subtitle {
  padding-top: 27px;
}

.price__desc {
  font-weight: 400;
  color: var(--accent-color);
  line-height: 120%;
  padding-bottom: 21px;
}
@media (max-width: 767px) {
  .price__desc {
    font-size: calc(14px + 10 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .price__desc {
    font-size: calc(14px + 10 * 100vw / 1968);
  }
}

.price__text {
  font-family: var(--second-family);
  color: var(--text-color);
  line-height: 137%;
  max-width: 252px;
  height: 115px;
  margin-bottom: 28px;
}

.price__ratio {
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  padding-bottom: 13px;
  opacity: 0.7;
}
@media (max-width: 767px) {
  .price__ratio {
    font-size: calc(14px + 6 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .price__ratio {
    font-size: calc(14px + 6 * 100vw / 1968);
  }
}

.price__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.7;
}

.price__pct {
  font-weight: 400;
  line-height: 120%;
  max-width: 80px;
}
@media (max-width: 767px) {
  .price__pct {
    font-size: calc(28px + 8 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .price__pct {
    font-size: calc(28px + 8 * 100vw / 1968);
  }
}
.price__pct span {
  display: block;
  font-weight: 400;
  line-height: 22px;
}
@media (max-width: 767px) {
  .price__pct span {
    font-size: calc(12px + 6 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .price__pct span {
    font-size: calc(12px + 6 * 100vw / 1968);
  }
}

.price-line {
  border: 1px solid rgba(241, 241, 241, 0.3);
  max-width: 51px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  padding: 0 25px;
}

.price__img img {
  max-width: 100%;
  height: auto;
  margin-bottom: 44px;
  padding-top: 15px;
}

.price-arrow {
  position: absolute;
  top: 95%;
  left: 48%;
}

.benefit__title {
  margin-top: 57px;
  text-align: center;
}

.benefit__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
  margin-bottom: 40px;
  gap: 10px;
}

.benefit__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.benefit__item:nth-child(n+7) {
  display: none;
}

.benefit__item.is-visible {
  display: block;
}

.benefit__item-title {
  font-weight: 400;
  line-height: 121%;
  color: var(--accent-color);
  margin-top: 8px;
  margin-bottom: 14px;
}
@media (max-width: 767px) {
  .benefit__item-title {
    font-size: calc(18px + 6 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .benefit__item-title {
    font-size: calc(18px + 6 * 100vw / 1968);
  }
}

.benefit__item-text {
  font-family: var(--second-family);
  line-height: 138%;
}

.btn-center {
  margin: 0 41%;
}

.benefit__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 40px;
}

.benefit__img img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 3px;
}

.benefit__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.benefit__desc span {
  color: var(--accent-color);
}

.benefit__line {
  font-family: var(--second-family);
  font-weight: 800;
  line-height: 136%;
  background-color: var(--accent-color);
  max-width: 533px;
  width: 100%;
  min-height: 35px;
  text-align: center;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 56px;
}
@media (max-width: 767px) {
  .benefit__line {
    font-size: calc(11px + 3 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .benefit__line {
    font-size: calc(11px + 3 * 100vw / 1968);
  }
}

.main__option {
  padding-bottom: 64px;
  background-color: var(--second-bg-color);
}

.option__title {
  text-align: center;
  color: var(--accent-color);
  padding-top: 34px;
  margin-bottom: 35px;
}

.option__content {
  max-width: 728px;
  margin: 0px auto;
}

.tabs__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}

.tabs__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background: rgba(241, 241, 241, 0.2);
  max-width: 154px;
  padding: 10px 27px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-weight: 400;
  line-height: 122%;
  text-align: center;
  color: var(--text-color);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
}
@media (max-width: 767px) {
  .tabs__nav-btn {
    font-size: calc(14px + 4 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .tabs__nav-btn {
    font-size: calc(14px + 4 * 100vw / 1968);
  }
}
.tabs__nav-btn:hover {
  background-color: var(--accent-color);
  opacity: 1;
}
.tabs__nav-btn.active {
  background-color: var(--accent-color);
  opacity: 1;
}

.tabs__item {
  display: none;
  padding-top: 37px;
  margin: 0 auto;
  max-width: 596px;
}
.tabs__item img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
.tabs__item.active {
  display: block;
}

.option__big-button {
  display: block;
  max-width: 295px;
  margin: 0px auto;
  background-image: url("../img/icon/small-bg-button.svg");
}

.main__feedback {
  margin-bottom: 40px;
}

.feedback__title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 47px;
}

.swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  max-width: 887px;
  width: 100%;
  height: auto;
  padding-bottom: 24px;
  padding-left: 108px;
  padding-right: 114px;
}

.feedback__wrapper.swiper-wrapper {
  margin-bottom: 24px;
}

.feedback__slide.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 40px 50px 40px 40px;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: var(--text-color);
}

.feedback__client-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.feedback__client-name {
  color: var(--accent-color);
  font-weight: 400;
  line-height: 121%;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .feedback__client-name {
    font-size: calc(20px + 4 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .feedback__client-name {
    font-size: calc(20px + 4 * 100vw / 1968);
  }
}

.feedback__client-city {
  color: var(--main-bg-color);
  font-weight: 400;
  line-height: 122%;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .feedback__client-city {
    font-size: calc(14px + 4 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .feedback__client-city {
    font-size: calc(14px + 4 * 100vw / 1968);
  }
}

.feedback__quote {
  color: var(--main-bg-color);
  font-family: var(--second-family);
  max-width: 445px;
  line-height: 139%;
}
@media (max-width: 767px) {
  .feedback__quote {
    font-size: calc(14px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .feedback__quote {
    font-size: calc(14px + 2 * 100vw / 1968);
  }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url("../img/icon/modal-arrow-left.svg");
}

.swiper-button-next {
  background-image: url("../img/icon/modal-arrow-right.svg");
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 72px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
  opacity: 1;
}

.swiper-pagination-bullet {
  background: rgba(241, 241, 241, 0.2);
  border-radius: 20px;
  width: 61px;
  height: 18px;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}

.main__response {
  background-color: var(--second-bg-color);
  padding-bottom: 40px;
}

.response__title {
  color: var(--accent-color);
  text-align: center;
  padding-top: 37px;
  margin-bottom: 27px;
}

.accordion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1140px;
  width: 100%;
}

.accordion__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 22px;
  border: 1px solid rgba(241, 241, 241, 0.2);
  border-bottom: none;
  padding: 24px 0px 24px 32px;
  background: transparent;
  width: 100%;
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.accordion:last-child {
  border-bottom: 1px solid rgba(241, 241, 241, 0.2);
}

.accordion__list-title {
  font-family: var(--second-family);
  font-weight: 700;
  line-height: 137%;
  text-transform: uppercase;
  color: var(--text-color);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (max-width: 767px) {
  .accordion__list-title {
    font-size: calc(14px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .accordion__list-title {
    font-size: calc(14px + 2 * 100vw / 1968);
  }
}

.accordion__list.active {
  padding-bottom: 5px;
}

.accordion__list:hover .accordion__list-title {
  color: var(--accent-color);
}

.accordion__list.active .accordion__list-title {
  color: var(--accent-color);
}

.accordion__list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 16px;
  width: 16px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.accordion__list:hover .accordion__list-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__list.active .accordion__list-icon {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.accordion__list-icon path {
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.accordion__list:hover .accordion__list-icon path {
  fill: var(--accent-color);
}

.accordion__list.active .accordion__list-icon path {
  fill: var(--accent-color);
}

.accordion__content {
  font-family: var(--second-family);
  line-height: 138%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 1px solid rgba(241, 241, 241, 0.2);
  border-top: none;
  border-bottom: none;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}
@media (max-width: 767px) {
  .accordion__content {
    font-size: calc(14px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .accordion__content {
    font-size: calc(14px + 2 * 100vw / 1968);
  }
}

.accordion__content.active {
  visibility: visible;
  opacity: 1;
  padding: 16px 69px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.contact__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 130px;
  padding-left: 32px;
  padding-top: 55px;
  margin-bottom: 59px;
}

.contact__title {
  margin-bottom: 50px;
  max-width: 506px;
}

.сontact__field {
  -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 24px;
}

.contact__text {
  display: block;
  max-width: 402px;
  width: 100%;
  height: 112px;
  border: 1px solid #dedede;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding-top: 15px;
  padding-left: 22px;
  margin-bottom: 24px;
  font-family: var(--second-family);
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--main-bg-color);
}
@media (max-width: 767px) {
  .contact__text {
    font-size: calc(10px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .contact__text {
    font-size: calc(10px + 2 * 100vw / 1968);
  }
}

.contact__text::-webkit-input-placeholder {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  color: #dedede;
}

.contact__text::-moz-placeholder {
  transform: translateY(-30px);
  color: #dedede;
}

.contact__text:-ms-input-placeholder {
  -ms-transform: translateY(-30px);
      transform: translateY(-30px);
  color: #dedede;
}

.contact__text::-ms-input-placeholder {
  -ms-transform: translateY(-30px);
      transform: translateY(-30px);
  color: #dedede;
}

.contact__text::placeholder {
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  color: #dedede;
}

.contact__right {
  position: relative;
}

.contact__img {
  max-width: 100%;
  height: auto;
  padding-top: 4%;
}

.contact__desc {
  border-radius: 20px;
  max-width: 209px;
  width: 100%;
  background: var(--accent-color);
  opacity: 0.8;
  padding: 13px 0px 19px 26px;
  left: -8%;
  top: 65%;
  position: absolute;
}
.contact__desc-title {
  font-weight: 400;
  line-height: 122%;
}
@media (max-width: 767px) {
  .contact__desc-title {
    font-size: calc(20px + 4 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .contact__desc-title {
    font-size: calc(20px + 4 * 100vw / 1968);
  }
}
.contact__desc-subtitle {
  font-family: var(--second-family);
  font-weight: 600;
  line-height: 138%;
}
@media (max-width: 767px) {
  .contact__desc-subtitle {
    font-size: calc(14px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .contact__desc-subtitle {
    font-size: calc(14px + 2 * 100vw / 1968);
  }
}

.contact__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 32px;
}

.contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 20px;
  background: var(--text-color);
  width: 166px;
  max-width: 100%;
  height: 66px;
  margin-bottom: 34px;
}

.contact__icon {
  max-width: 100%;
  height: auto;
  padding: 7px 19px;
}

.footer__title {
  text-align: center;
  color: var(--accent-color);
  padding: 0px 240px;
  margin-bottom: 11px;
}

.footer__big-button {
  display: block;
  max-width: 295px;
  margin: 0px auto;
  background-image: url("../img/icon/small-bg-button.svg");
  margin-bottom: 48px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: var(--text-color);
  margin-bottom: 40px;
}

.footer__content {
  max-width: 562px;
  padding: 40px 40px 93px 40px;
}

.footer__subtitle {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 16px;
}

.footer__desc {
  font-family: var(--second-family);
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2639;
  padding-bottom: 21px;
  border-bottom: 1px solid rgba(27, 38, 57, 0.2);
}
@media (max-width: 767px) {
  .footer__desc {
    font-size: calc(16px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .footer__desc {
    font-size: calc(16px + 2 * 100vw / 1968);
  }
}

.footer__info {
  font-family: var(--second-family);
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--accent-color);
  padding-top: 31px;
}
@media (max-width: 767px) {
  .footer__info {
    font-size: calc(16px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .footer__info {
    font-size: calc(16px + 2 * 100vw / 1968);
  }
}

.footer__text {
  font-family: var(--second-family);
  font-weight: 300;
  line-height: 140%;
  color: #1b2639;
  margin-top: 3px;
}
@media (max-width: 767px) {
  .footer__text {
    font-size: calc(16px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .footer__text {
    font-size: calc(16px + 2 * 100vw / 1968);
  }
}

.footer__map {
  width: 100%;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 0px 32px;
  margin-bottom: 68px;
}

.footer__doc {
  font-family: var(--second-family);
  font-weight: 300;
  line-height: 136%;
  text-decoration: underline;
  color: var(--text-color);
  cursor: pointer;
}
@media (max-width: 767px) {
  .footer__doc {
    font-size: calc(12px + 2 * (100vw - 320px) / 1968);
  }
}
@media (min-width: 767px) {
  .footer__doc {
    font-size: calc(12px + 2 * 100vw / 1968);
  }
}

@media (max-width: 1000px) {
  .price-arrow {
    top: 94%;
    left: 44%;
  }
  .contact__inner {
    height: 510px;
    margin-bottom: 50px;
    padding-top: 180px;
  }
  .contact__img {
    display: none;
  }
  .contact__desc {
    display: none;
  }
  .contact__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__left {
    max-width: 100%;
  }
}
@media (max-width: 880px) {
  .hero__img {
    display: none;
  }
  .hero__left {
    width: 100%;
    max-width: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__text::before {
    display: none;
  }
  .feedback__client-img img {
    display: none;
  }
  .feedback__slide.swiper-slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px 15px 10px 15px;
  }
  .accordion__content.active {
    padding: 16px 69px 24px;
  }
  .footer__title {
    text-align: center;
    padding: 0px;
  }
}
@media (max-width: 768px) {
  .header__desc-line,
  .header__desc-text {
    display: none;
  }
  .modal {
    z-index: 15;
    background: rgba(0, 0, 0, 0.8980392157);
  }
  .price__img {
    display: none;
  }
  .price__title {
    padding-bottom: 0;
  }
  .price__center {
    padding-top: 7px;
  }
  .price__left,
  .price__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .benefit__info {
    display: block;
  }
  .benefit__img {
    display: none;
  }
  .benefit__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .tabs__nav-btn {
    max-width: 150px;
  }
  .contact__list {
    display: none;
  }
  .footer__inner {
    margin: 0 auto;
    max-width: 570px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__content {
    padding: 40px;
  }
  .footer__bottom {
    padding: 20px 32px;
  }
}
@media (max-width: 620px) {
  .hero__icon-desc {
    max-width: 293px;
    text-align: start;
  }
  .price__inner {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .price__center {
    display: none;
  }
  .price-arrow {
    top: 94%;
    left: 39%;
  }
  .thank-you__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .thank-you__tel {
    padding-top: 18px;
  }
  .benefit__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .benefit__item:nth-child(n+4) {
    display: none;
  }
  .benefit__item.is-visible {
    display: block;
  }
  .btn-center {
    margin: 0px 35%;
  }
  .tabs__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 10px;
  }
  .tabs__nav-btn {
    padding: 3px 92px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
  .swiper {
    padding-left: 30px;
    padding-right: 40px;
  }
  .accordion__content.active {
    padding: 4px 69px 45px;
  }
  .contact__inner {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
}
@media (max-width: 450px) {
  .modal__big-button {
    background-image: url("../img/icon/small-bg-button.svg");
  }
  .header__top-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__tel {
    padding-top: 5px;
  }
  .price__text {
    text-align: left;
    max-width: 183px;
  }
  .price-arrow {
    display: none;
  }
  .benefit__right {
    text-align: start;
  }
  .tabs__nav-btn {
    padding: 3px 60px;
  }
  .feedback__slide.swiper-slide {
    padding: 0px 10px 15px 15px;
  }
  .accordion__content.active {
    padding: 4px 69px 60px;
  }
}
@media (max-width: 375px) {
  .big-button {
    background-image: url("../img/icon/small-bg-button.svg");
  }
  .price__text {
    margin-bottom: 50px;
  }
  .btn-center {
    margin: 0px 26%;
  }
  .swiper {
    padding-bottom: 45px;
  }
  .accordion__content.active {
    padding: 4px 69px 80px;
  }
  .contact__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 0px;
  }
}
@media (max-width: 320px) {
  .price__text {
    margin-bottom: 50px;
  }
  .tabs__nav-btn {
    padding: 3px 80px;
  }
  .accordion__content.active {
    padding: 6px 35px 60px;
  }
}/*# sourceMappingURL=style.css.map */