// @mixin desktop {
//   @media(min-width: (1025px)) {
//     @content;
//   }
// }

// @mixin mobile {
//   @media(max-width: (1024px)) {
//     @content;
//   }
// }

@media (max-width: 880px) {
  .hero__text::before {
    display: none;
  }

}

@media (max-width: 768px) {

  .header__desc-line,
  .header__desc-text {
    display: none;
  }

  // =================================

  .hero__img {
    display: none;
  }

  .hero__left {
    width: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero__text::before {
    display: none;
  }

}

@media (max-width: 450px) {
  .header__top-inner {
    flex-direction: column;
  }

  .header__tel {
    padding-top: 5px;
  }

  // ==============================

  .modal {
    z-index: 15;
    background: #000000e5;

  .modal-window {
    padding: 20px 5px 0px 10px;
  }

  .modal-title {
    color: #fff;
  }
}
}