.big-button {
  border-radius: 11px;
  background: var(--accent-color);
  background-image: url("../img/icon/bg-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 97%;

  padding: 6px 9px 16px;
  max-width: 395px;
  width: 100%;
  min-height: 87px;

  font-weight: 400;
  @include adaptiv-font(22, 19);
  line-height: 27px;
  text-align: center;
  color: var(--text-color);
  text-shadow: 1px 2px rgba(0, 0, 0, 0.25);

  transition: all .2s;

  @include hover {
    border: var(--effect-color) solid 4px;
    color: #f7a60efd;
  }
}

.small-button {
  background-color: var(--accent-color);
  border-radius: 50px;
  max-width: 343px;
  padding: 8px 35px 10px 33px;

  font-family: var(--second-family);
  font-weight: 700;
  @include adaptiv-font(18, 14);
  line-height: 139%;
  text-align: center;
  color: var(--text-color);
  transition: var(--transition);

  @include hover {
    background-color: var(--effect-color);
  }
}