.contact__inner {
  display: flex;
  justify-content: stretch;
  gap: 130px;
  padding-left: 32px;
  padding-top: 55px;
  margin-bottom: 59px;
}

.contact__title {
  margin-bottom: 50px;
  max-width: 506px;
}

.сontact__field {
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  margin-bottom: 24px;
}

.contact__text {
  display: block;
  max-width: 402px;
  width: 100%;
  height: 112px;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
  padding-top: 15px;
  padding-left: 22px;
  margin-bottom: 24px;

  font-family: var(--second-family);
  @include adaptiv-font(12, 10);
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.25);
  color: var(--main-bg-color);
}

.contact__text::placeholder {
  transform: translateY(-30px);
  color: #dedede;
}

.contact__right {
  position: relative;
}

.contact__img {
  max-width: 100%;
  height: auto;
  padding-top: 4%;
}

.contact__desc {
  border-radius: 20px;
  max-width: 209px;
  width: 100%;
  background: var(--accent-color);
  opacity: 0.8;
  padding: 13px 0px 19px 26px;
  left: -8%;
  top: 65%;
  position: absolute;


  &-title {
    font-weight: 400;
    @include adaptiv-font(24, 20);
    line-height: 122%;
  }

  &-subtitle {
    font-family: var(--second-family);
    font-weight: 600;
    @include adaptiv-font(16, 14);
    line-height: 138%;
  }
}

.contact__list {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px;
}

.contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: var(--text-color);
  width: 166px;
  max-width: 100%;
  height: 66px;
  margin-bottom: 34px;
}

.contact__icon {
  max-width: 100%;
  height: auto;
  padding: 7px 19px;
}