.main__feedback {
  margin-bottom: 40px;
}

.feedback__title {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 47px;
}

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 887px;
  width: 100%;
  height: auto;
  padding-bottom: 24px;
  padding-left: 108px;
  padding-right: 114px;
}

.feedback__wrapper.swiper-wrapper {
  margin-bottom: 24px;
}

.feedback__slide.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 40px 50px 40px 40px;
  border-radius: 40px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.25);
  background: var(--text-color);
}

.feedback__client-img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.feedback__client-name {
  color: var(--accent-color);
  font-weight: 400;
  @include adaptiv-font(24, 20);
  line-height: 121%;
  margin-bottom: 4px;
}

.feedback__client-city {
  color: var(--main-bg-color);
  font-weight: 400;
  @include adaptiv-font(18, 14);
  line-height: 122%;
  margin-bottom: 15px;
}

.feedback__quote {
  color: var(--main-bg-color);
  font-family: var(--second-family);
  max-width: 445px;
  line-height: 139%;
  @include adaptiv-font(16, 14);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url("../img/icon/modal-arrow-left.svg");
  // left: -15%;
}

.swiper-button-next {
  background-image: url("../img/icon/modal-arrow-right.svg");
  // right: -15%;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-position: center;
  width: 47px;
  height: 72px;
}



.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 8px;
  opacity: 1;
}

.swiper-pagination-bullet {
  background: #f1f1f133;
  border-radius: 20px;
  width: 61px;
  height: 18px;
}

.swiper-pagination-bullet-active {
  background-color: var(--accent-color);
}