html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

h1 {
  @include adaptiv-font(64, 40);
}

h2 {
  font-weight: 400;
  @include adaptiv-font(36, 28);
  color: var(--text-color);
  line-height: 120%;
}

.body {
  font-family: "Russo One", "Open Sans", "Arial", sans-serif;
  background: var(--main-bg-color);
  font-weight: 300;
  line-height: 22px;
  @include adaptiv-font(16, 14);
  color: var(--text-color);
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}



