body {
  background: var(--main-bg-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

.thank-you__top {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 24px;
  margin-bottom: 160px;
}

.thank-you__logo img {
  max-width: 100%;
  height: auto;
}

.thank-you__tel-link {
  font-weight: 400;
  @include adaptiv-font(24, 19);
  line-height: 29px;
  transition: var(--transition);

  @include hover {
    color: var(--effect-color);
  }
}

.thank-you__tel-desc {
  font-family: var(--second-family);
  font-weight: 700;
  @include adaptiv-font(16, 14);
  line-height: 22px;
  text-decoration: underline;
  color: var(--accent-color);
}

.thank-you__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.thank-you__title {
  font-weight: 400;
  @include adaptiv-font(48, 40);
  line-height: 122%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--accent-color);
  margin-bottom: 26px;
}

.thank-you__desc {
  font-weight: 400;
  @include adaptiv-font(24, 18);
  line-height: 122%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  max-width: 417px;
  margin-bottom: 51px;
}

.thank-you__big-button {
  @include adaptiv-font(24, 20);
}