:root {
  --font-family: "Russo One", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --transition: all .4s;
  // --border-radius: 20px;

  --main-bg-color: #2d2d2d;
  --second-bg-color:  rgba(33, 148, 255, 0.05);
  --accent-color: #2194ff;
  --effect-color: #ff8c21;
  --text-color:#f1f1f1;
}