:root {
  --font-family: "Russo One", sans-serif;
  --second-family: "Open Sans", sans-serif;
  --transition: all .4s;

  --main-bg-color: #2d2d2d;
  --second-bg-color:  #2d3238;
  --accent-color: #2194ff;
  --effect-color: #ff8c21;
  --text-color:#f1f1f1;
}