.container{
  height: 700px;
  width: 50%;
  border: dashed;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__blue, .container__green, .container__red{
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.container__blue{
  background: linear-gradient(120deg, #2a41c4, #673bb9);
  transform: translate(132px, -152px) rotate(180deg) scale(2.6);
}

.container__green{
  background: linear-gradient(120deg, #339c19, #0ad860);
  transform: translate(-165px, -197px) rotate(109deg);
}

.container__red{
  background: linear-gradient(120deg, #9c2819, #d84b0a);
  transform: translate(215px, 272px);
}